.bg-1 {
    background-image: url('../design/pg1/background_escuro.png');
    position: relative;
}
.bg-1 .container {
    background-color: transparent;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
.bg-1 h2 {
    color: #c78023;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.bg-2 {
    background-image: url('../design/pg1/background_claro.png');
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}
.bg-2 .container {
    background-color: transparent;
}
.pagina-3 .bg-2 {
    background-attachment: fixed;
}
/* rellax imgs */
.rellax {position: absolute;}
.rellax-1 {
    right: 80px;
    width: 800px;
}
.rellax-2 {
    right: 0;
    top: 5100px;
}
.rellax-3 {
    top: 6000px;
}
.rellax-4 {
    right: 0;
    top: 6500px;
}
.rellax-5 {
    top: 7000px;
}
.rellax-6 {
    top: 400px;
}
.rellax-7 {
    right: 0;
    top: 1200px;
}
.rellax-8 {
    top: 1650px;
    max-width: 450px;
}
.rellax-9 {
    right: 0;
    top: 0;
    max-width: 450px;
}
.rellax-10 {
    top: 400px;
}
.rellax-11 {
    top: 1850px;
    max-width: 450px;
}
.rellax-12 {
    top: 3250px;
    right: 0;
    max-width: 450px;
}
.rellax-13 {
    top: 4250px;
    max-width: 450px;
}
.rellax-14 {
    top: 900px;
}
.rellax-15 {
    right: 0;
    top: 1420px;
}
.rellax-16 {
    top: 2450px;
    right: 0;
    max-width: 450px;
}
.rellax-17 {
    top: 3650px;
    max-width: 450px;
}
.elemento-pg4 {
    right: 0;
    top: 0;
    max-width: 500px;
    z-index: 1;
}
.h2-estilo {
    color: #498080;
    font-weight: 600;
    margin-bottom: 30px;
}
.texto-destaque {
    font-size: 22px;
    text-align: center;
    margin: 40px 0;
}
.jornal {
    background-image: url('../design/pg1/jornal.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 120px 0 90px;
    height: 1067px;
    color: black;
    display: block;
    margin: 40px auto;
}
.jornal h3, .jornal-2 h3 {
    color: #498080;
    font-size: 20px;
    text-align: center;
}
.jornal-2 {
    border: 2px solid #498080;
    padding: 15px 25px;
    background-color: white;
    display: block;
    margin: 40px auto;
    box-shadow: 3px 3px 5px #333;
}
.t-center {text-align: center;}
video {background-color: #333; display: block; margin: 40px auto; height: 320px; max-width: 100%;}
figure {margin-top: 40px;} figcaption {margin-bottom: 40px;}
.p-b {padding-bottom: 60px;} .p-t {padding-top: 60px;}
.refs {
    background-image: url('../design/refs/background.png');
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 80px;
}
.refs .container {
    padding-top: 30px;
    padding-bottom: 20px;
    word-break: break-word;
}
.row-quadros {
    display: flex;
    justify-content: center;
    padding-top: 170px;
}
.img_quadro {
    max-width: 25%;
    height: auto;
    align-self: center;
}
.img_quadro:nth-child(2){
    margin-top: -200px;
}

.tooltip-link {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px dashed #333;
    font-size: 18px;
    cursor: pointer;
}
.bg-1 .tooltip-link {
    border-bottom: 2px dashed white;
}
.tooltip-link:hover {
    color: inherit;
}
.tooltip-inner {
    max-width: 400px;
    font-size: 16px;
    line-height: 21px;
    padding: 10px;
}
.caixa {
    background-color: #498080;
    border: none;
    color: white !important;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #333;
}
.caixa p {
    color: white;
}
.caixa.icone {
    padding: 20px;
    padding-left: 60px;
}
.caixa.icone::before {
    background-color: transparent;
}
.caixa-branca {
    display: block;
    margin: 40px auto;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    padding: 25px;
    box-shadow: 3px 3px 3px #333;
}
.caixa-branca p {
    font-size: 20px;
    margin-bottom: 0;
}
table.sesc {
    margin: 20px auto;
    width: auto;
}
.custom_row {
    display: flex;
    justify-content: space-around;
}
.custom_row li img {
    height: 50px;
    width: auto;
    margin-left: 20px;
}
.custom_row li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}
.bg-1 .enunciado {
    color: white;
}
.espera {
    display: block;
    height: 320px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: #333;
    margin: 40px auto;
    color: wheat;
}
.bg-1 .feedbacks p{
    background-color: white;
    width: fit-content;
    padding: 10px 20px;
    box-shadow: 3px 3px 4px #333;
}
.vermelho {
    color: #e7a231;
    font-weight: 600;
    font-size: 18px;
}
.verde {
    color: #6b8a49;
    font-weight: 600;
    font-size: 18px;
}
.vermelho i, .verde i {
    font-style: normal;
    font-size: 26px;
}
span.negrito {
    font-size: 26px;
    font-weight: 600;
}
.divisoria-1 {
    background-image: url('../design/pg1/paralaxe.png');
    background-attachment: fixed;
    height: 450px;
    width: 100%;
}
.divisoria-2 {
    background-image: url('../design/pg2/paralaxe.png');
    background-attachment: fixed;
    height: 450px;
    width: 100%;
}
.divisoria-3 {
    background-image: url('../design/pg3/paralaxe.png');
    background-attachment: fixed;
    height: 450px;
    width: 100%;
}
.divisoria-4 {
    background-image: url('../design/pg4/paralaxe.png');
    background-attachment: fixed;
    height: 450px;
    width: 100%;
}
.elemento-pg2 {
    right: 0;
    top: 0;
    max-height: 750px;
}
.esquemaDaBru table.sesc {
    min-width: 200px;
}
/* caixa expansivel */
.caixa-container {
    position: relative;
    padding-top: 40px;
    margin-bottom: 60px;
}
.caixa-exp {
    max-height: 200px;
    overflow: hidden;
    width: 100%;
    margin: 40px auto;
    transition-duration: .7s;
    position: relative;
    background-color: #2d5054;
    color: white;
    border: none;
    border-radius: 20px;
    padding-top: 60px;
    box-shadow: 2px 2px 4px black;
}
.caixa-exp.aberta {
    max-height: 1900px; 
}
.caixa-container button {
    content: '';
    background-image: url('../design/pg3/ico_saibamais_abre.png');
    background-size: contain;
    background-position: center;
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    background-color: transparent;
    border: none;
}
.caixa-container button:hover {
    transform: translateX(-50%) scale(1.03);
}
.caixa-container.saiba-mais::before {
    content: '';
    background-image: url('../design/pg3/ico_saiba_mais.png');
    background-size: 100%;
    width: 152px;
    height: 152px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
}
.icone.saiba-mais {width: 80%; display: block; margin: 30px auto;}
.icone.saiba-mais::before {
    content: '';
    background-image: url('../design/pg3/ico_saiba_mais.png');
    background-size: 100%;
    width: 152px;
    height: 152px;
    left: -60px;
    top: -30px;
    position: absolute;
}
.renda-bg {
    background-color: #498080;
    color: white;
    text-align: center;
    width: fit-content;
    display: block;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 4px 4px 6px #333;
    margin: 40px auto;
}

.p-reset div {
    padding-left: 0;
    padding-right: 0;
}
.enunciado-img {
    margin-left: -200px;
    float: left;
}
.table_icon {
    height: 50px;
    width: auto;
    display: inline-block;
    margin-right: 10px;
}
.icone.pergunta::before {
    background-image: url('../design/pg1/ico_pergunta.png');
    background-size: contain;
    height: 125px;
    width: 125px;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.icone.vamos_praticar::before {
    background-image: url('../design/pg1/ico_vamos_praticar.png');
    background-size: contain;
    height: 125px;
    width: 125px;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.caixa.icone {
    padding-left: 80px;
    padding-right: 40px;
    line-height: 22px;
}
.caixa p {
    margin-bottom: 10px;
}
.after-1 {position: relative;}
.after-1::after {
    content: '';
    position: absolute;
    right: -380px;
    bottom: 4px;
    background-image: url('../design/pg1/elemento_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 380px;
}
.after-2 {position: relative;}
.after-2::after {
    content: '';
    position: absolute;
    left: -450px;
    bottom: 85px;
    background-image: url('../design/pg1/elemento_3.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 380px;
}
.img-pratica {
    margin-top: -60px;
}
.materia h3 {text-align: center; color: white; font-size: 28px;}
.materia {
    margin-bottom: 40px;
}
.btn-modal {
    width: 159px;
    height: 139px;
    display: block;
    margin: 40px auto;
    background-image: url('../design/pg3/btn_1.png');
    background-position: center;
    background-color: transparent;
    border: none;
}
.btn-modal:hover {
    background-image: url('../design/pg3/btn_1_hover.png');
}
.esquema-flex {
    display: flex; 
    align-items: center;
}
.esquema-flex button.btn-sesc {
    width: auto; 
    display: block; 
    margin: 10px 15px;
}
.info-exercicio {
    width: 820px;
    height: 550px;
    background-image: url('../design/pg3/exercicio_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 110px;
    color: #333;
    line-height: 1.3rem;
    max-width: 100%;
}
.bto-imprimir {
    z-index: 99;
}

.feedback-positivo, .feedback-negativo{
    display: none;
}

.bg-media_aritmetica{
    background-color: #498080;
    color: white;
    text-align: center;
    width: 450px;
    display: block;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 4px 4px 6px #333;
    margin: 40px auto;
}

@media (max-width:1660px){
    .pagina {overflow-x: hidden;}
    .rellax-1 {
        max-width: 590px;
        width: auto;
    }
    .rellax-2, .rellax-3, .rellax-4, .rellax-5, .rellax-6, .rellax-7, .rellax-8, .rellax-10, .rellax-11, .rellax-12, .rellax-13, .rellax-14, .rellax-15, .rellax-16, .rellax-17 {
        max-width: 200px;
    }
    .elemento-pg2, .rellax-9, .elemento-pg4 {
        max-width: 15%;
    }
}
@media (max-width: 1440px) {
    .after-1::after, .after-2::after {
        max-width: 400px;
    }
    .after-1::after {
        right: -280px;
    }
    .after-2::after {
        left: -290px;
    }
}
@media (max-width:900px){
    .row-quadros {
        flex-direction: column;
        padding-top: 45px;

    }
    .img_quadro {
        margin-top: unset;
        max-width: 500px;
        
    }
    .img_quadro:nth-child(2){margin-top: unset;}
    .jornal {line-height: 1.3rem;}
    .bg-2 {background-attachment: unset;}
    .after-1::after, .after-2::after {display: none;}

    .esquema-flex button.btn-sesc {
        margin: 10px 5px;
    }
}
@media (max-width:600px){
    .h2-estilo{
        margin-top: 40px;
    }
    .jornal {
        background-image: unset;
        background-color: white;
        padding: 10px;
        height: auto;
    }
    .info-exercicio {
        background-image: unset;
        width: auto;
        height: auto;
        padding: 25px;
        background-color: white;
        box-shadow: 3px 3px 5px #333;
        border: 2px solid #2d5054;
    }

    .caixa-exp.aberta {
        max-height: 2600px;
    }

    .esquema-flex {
        display: block; 
    }

    .divisoria-1, .divisoria-2, .divisoria-3, .divisoria-4{
        height: 180px;
    }

    table.sesc th{
        font-size: 14px;
    }

    .bg-media_aritmetica{
        width: 100%;
        padding: 15px;
    }
}


footer li.active a{
    color: #fff;
    background-color: #00838D;
}
footer a:visited {
    color: #7a7a7a;
    background-color: #c4c4c4;
}
p.fonte-2 {
    font-size: 18px;
}
.caixa-exp h3 {
    color: white;
}
.bt-info {
    display: block;
    padding: 25px 45px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    width: fit-content;
    margin: 35px auto;
    border-radius: 15px;
}
.bt-info:hover {
    background-color: white;
    color: #2d5054;
    text-decoration: none;
}